# Ignore vscode AI rules
.github/instructions/codacy.instructions.md

# Arquivo com chaves e configs privadas
env.php


# .gitignore
config/.env
*.log

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
