# Ignore vscode AI rules
.github/instructions/codacy.instructions.md

# Arquivo com chaves e configs privadas
.env


# .gitignore

*.log

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
